<StackLayout class="sidedrawer-left">
  <StackLayout class="sidedrawer-header">
    <!-- The contents of the header -->
    <Label text="Obek"></Label>
  </StackLayout>
  <StackLayout class="sidedrawer-content">


    <!-- A list item with no icon -->
    <GridLayout class="sidedrawer-list-item" rows="*" columns="*">
      <Label row="0" col="0" text="A Link"></Label>
      <Label row="0" col="0" text="A Link"></Label>
      <Label row="0" col="0" text="A Link"></Label>
      <Label row="0" col="0" text="A Link"></Label>
      <Label row="0" col="0" text="A Link"></Label>
    </GridLayout>

    <!-- A list item with an icon -->
    <GridLayout class="sidedrawer-list-item" rows="auto" columns="auto, *">
      <Image class="sidedrawer-list-item-icon" row="0" col="0" src="~/path/to/icon.png"></Image>
      <Label class="sidedrawer-list-item-text" row="0" col="1" text="A Link"></Label>
    </GridLayout>

  </StackLayout>
</StackLayout>
